.banner {
    background-image: url(banner.jpg);
    height: 75%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#cot-div {
    background-color: #d9b32e;
    padding: 25px;
    margin-top: 8%;
    margin-left: 10%;
}

#cot-div p {
    color: snow;
}

#cot-btn {
    color: snow;
    font-weight: 400;
}

.feed {
    width: 90%;
    padding: 30px;
    padding-top: 25px;
    padding-bottom: 0px;
    margin: 0 auto;
}

.feed h4 {
    background-color: #d9b32e;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 600;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    color: #191717;
}

.feed a {
    color: #191717;
}

.feed a:hover {
    color: #d9b32e;
    text-decoration: underline;
}

.feed .img-responsive {
    margin: 2px;
    width: 80%;
}

.btn-viewall { 
    float: right;
    margin-right: 25px;
}

.feed .row {
    width: 95%;
    margin: auto;
    padding: 5px;
}

.feed #loc {
    display: inline-block;
    float: right;
}

.feed span {
    color: #d9b32e;
    font-size: 18px;
}

.foot-section {
    background-color: #d9b32e;
}

.foot-section .row{
    padding: 40px;
    width: 90%;
    margin: auto;
}

.foot-section a, .foot-section h5 {
    color: #191717;
    margin-left: 1px;
    margin: 0px;
}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
      
      .navbar .container {
          width: 100%;
      }
      
      #login-div {
          width: 90%;
          margin: auto;
      }
      
      #cot-div {
          margin-top: 50%;
          margin-left: 0px;
      }
      
      .banner {
          height: 60%;
      }
      
      .feed {
          width: 100%;
      }
      
      .feed h4 {
          text-align: left;
      }
      
      #pic-feed .col-sm-3 {
          width: 70%;
          margin: auto;
      }
      
      #pic-feed .img-responsive {
          margin: 5 auto;
      }
}


