.feed { /** to make default **/
    margin-top: 30px;
    width: 80%;
    padding: 20px;
}

.pic-div {
    margin: auto;
}

.img-responsive {
    margin: 2px auto;
    width: 85%;
}

#btn-viewallBP {
    float: right;
    margin: 20px auto;
}

.pagination {
    float: right;
}

.pagination li>a {
    background-color: #191717;
    color: #d9b32e;
    font-weight: 700;
    border-style: none;
}

.pagination li>a:hover, .pagination>.active>a {
    background-color: #d9b32e;
    color: #191717;
    font-weight: 700;
    border-style: none;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    
      .feed {
          width: 95%;
          margin-top: 5px;
      }

      .forumcase-div {
          margin: 5 auto;
      }
      
      .pic-div {
          width: 49.5%;
          display: inline-block;   
      }
}