.feed { /** to make default **/
    margin-top: 30px;
    width: 80%;
    padding: 20px;
}

.description {
    margin: 20px 0px;
    font-size: 12px;
}

.info {
    margin-left: 5px;
}

.icons {
    font-size: 20px;
    margin: 0 -1px;
    border-style: none;
    background-color: none;
}

.reply-div {
    width: 97%;
    margin: 5 auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: lightgray;
    padding: 5px;
}

.username {
    background-color: #d9b32e;
    font-size: 12px;
    padding: 2px 10px;
}

.date {
    background-color: #d9b32e;
    font-size: 10.5px;
    padding: 2px 10px;
    float: right;
}

.reply-text {
    font-size: 12px;
    padding: 5px 10px;
}

#message {
    width: 97%;
    margin: 10 auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: lightgray;
}

.btn-default2 {
    margin: 0 5px;
}

#btn-cancel, #btn-reply {
    float: right;
}