.feed { /** to make default **/
    margin-top: 20px;
    width: 85%;
    padding: 10px;
}

#sidenav {
    border-style: solid;;
    border-width: 0px;
    border-right-width: 1px;
    border-color: darkslategrey;
}

#sidenav .nav>li>a {
    padding: 5px 10px;
    font-size: 11.5px;
    color: #191717;
}

#sidenav .nav-pills>li>a {
    border-style: solid;
    border-width: 0.5px;
    border-radius: 0px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, 
.nav-pills>li.active>a:hover, .feed .nav-pills>li>a:hover {
    background-color: #d9b32e;
    text-decoration: underline;
    color: #191717;
}

.case-div, .msg-div {
    width: 95%;
    margin: auto;
    padding: 5px;
}

.case-div a {
    color: #191717;
}

.case-div a:hover {
    color: d9b32e;
    text-decoration: underline;
}

.case-div .loc {
    display: inline-block;
    float: right;
}

.case-div span {
    color: #d9b32e;
    font-size: 18px;
}

.gi-right {
    padding-right: 6.5px;
}

#btn-newmsg {
    float: right;
}

.msg-div .maintext {
    font-size: 11.8px;
    color: #191717;
}

.msg-div .subtext {
    font-size: 11.8px;
}

#newmsg-div input, #newmsg-div textarea {
    font-size: 12px;
    margin: 10px auto;
    width: 80%;
    border-radius: 1px;
}

#btn-send, #btn-back {
    float: right;
    margin: 20px 5px;;
}



