.feed { /** to make default **/
    margin-top: 20px;
    width: 65%;
    padding: 10px;
}

.feed .row {
    width: 97%;
    margin: 0 auto;
}

label {
    font-size: 12px;
}

.feed input {
    border-radius: 0px;
    font-size: 11.5px;
}

#btn-submit {
    float: right;
    margin: 10px 15px;
}

.well-title {
    margin-bottom: 40px;
}

.guideline_block{
    margin-top: 30px;
}

.guideline_text{
    margin-bottom: 10px;
}

input[type=checkbox]
{
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    padding: 10px;
}


