.well-block {
    background-color: #fff;
    border: 1px solid #e9e6e8;
    padding: 40px;
}

.margin-top-40{
    margin-top: 40px;
}

.well-title {
    margin-bottom: 40px;
}

.guideline_block{
    margin-top: 30px;
}

.guideline_text{
    margin-bottom: 10px;
}

input[type=checkbox]
{
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    padding: 10px;
}