
.pageContent{
	margin-left: 25%;
}

.casePreview{
/*   border-bottom-width: 1.5px;
    border-bottom-style: ridge;*/
	margin: 40px;
	display: inline-block;
}

.caseDescription{
}

.caseDescription > .nComments {
	float: right;
}

#loadMoreButton {
	width: 100%;
	margin-bottom: 50px;
}

/********		#8.html		*********/
.headerWithLines {
	overflow: hidden;
	text-align: center;
}
.headerWithLines:before,
.headerWithLines:after {
	background-color: #333;
	content: "";
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
	width: 50%;
}
.headerWithLines:before {
	right: 0.5em;
	margin-left: -50%;
}
.headerWithLines:after {
	left: 0.5em;
	margin-right: -50%;
}


#contactDivForm{
	width: 60%;
}

@media only screen
and (max-width: 800px){
	#contactDivForm{
		width: 90%;
	}
}
input, textArea{
	border-style: inset; 
	width: 100%;
    padding: 8px;
	margin: 12px;
	resize: none;
}

::placeholder{
	color: rgba(110, 125, 147, 1);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#submitContactMe_b{
	margin-top: 5px;
    border-radius: 5px;	
	max-width: fit-content;
	padding:15px;
	border: .3px solid black;
    font-weight: bold;
    display: block;
	margin-left: auto;
    margin-right: auto;
}

#contactMessageInput{
	min-height: 130px;
}

#contactMessageInput::placeholder{
	vertical-align: text-top;
}


/********		#9.html		*********/

.breadcrumb > li + li:before {
    color: black;
    content: "> ";
    padding: 0 5px;
	background: none;
}

.breadcrumb{
	background: none;
	padding: 0px;
}

.breadcrumb > li > a {
	color: black;
}


/* Style the buttons that are used to open and close the accordionPannel */
.accordion {
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
	font-weight: bold;
	text-decoration: underline;
	background: none;
    border: none;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover {
    background-color: #ccc;
}

/* Style the accordionPannel. Note: hidden by default */
.accordionPannel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
	margin-left: 40px;	
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: black;
    float: left;
    margin-right: 20px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}


/********		#7c.html		*********/
input[type=file] {
    border: none;
}



/********		#4.html		*********/
.panel_padding{
    padding: 10px;
}

.center{
    margin: auto;
}

.color-darkgrey{
    background-color: #CCCCCC;
}

.glyphicon.glyphicon-arrow-up {
    font-size: 20px;
}

.glyphicon.glyphicon-arrow-down {
    font-size: 20px;
}

