@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');

body {
    font-family: 'Montserrat';
}

.btn-default { /** black button yellow text **/
    background-color: #191717;
    color: #d9b32e;
    font-size: 11px;
    font-weight: 700;
    border-radius: 0px;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    border-style: none;
}

.btn-default:hover {
    background-color: #191717;
    text-decoration: underline;
    color: #d9b32e;
}

.btn-default2 { /** yellow button black text **/
    background-color: #d9b32e;
    color: #191717;
    font-size: 11px;
    font-weight: 700;
    border-radius: 0px;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    border-style: none;
}

.btn-default2:hover {
    text-decoration: underline;
    color: #191717;
} 

.h4-color { 
    background-color: #d9b32e;
    margin-bottom: 5px;
    display: inline-block;
    font-weight: 600;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    color: #191717;
}

p, h2, h4 { /** to double check **/
    margin: 0px;
    color: #191717;
}

.maintext { 
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
}

.subtext {
    font-size: 11px;
}

hr { /** horizontal dividers **/
    margin-top: 12px;
    margin-bottom: 5px;
}

/** end of default settings, nav css below **/
.navbar {
    background-color: #191717;
    border-radius: 0px;
    border-style: none;
    margin: 0px;
}

.navbar .container {
    width: 95%;
}

.navbar-brand {
    background-color: #d9b32e;
    font-weight: 700;
    font-size: 24px;
    color: snow;
    margin-right: 10px;
}

.navbar-brand:hover {
    color: #191717;
}

.navbar-nav>li>a {
    font-size: 10.5px;
    color: snow;
}

.navbar-nav>li>a:hover {
    background-color: #191717;
    color: #d9b32e;
    cursor: pointer;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #d9b32e;
    color: #191717;
}

.dropdown-menu {
    background-color: #191717;
    padding: 0px;
    border-style: none;
    border-radius: 0px;
}

.dropdown-menu li>a {
    color: snow;
    padding: 7px;
    font-size: 11px;
}

.dropdown-menu li>a:hover {
    background-color: #d9b32e;
}

#search-div {
    height: 50px;
    vertical-align: middle;
}

#search-bar {
    margin: 12px;
}


#login-div {
    padding: 10px;
    padding-top: 25px;
    padding-bottom: 20px;
    width: 275px;
}

#login-div input {
    height: 30px;
    font-size: 11px;
    padding: 5px;
    border-radius: 2px;
}

#login-div form {
    margin: 0px;
}

#btn-login {
    width: 100%;
}

.navbar-toggle {
    border-style: solid;
    border-color: snow;
    border-width: 1px;
}

.navbar-toggle .icon-bar, .navbar-toggle .icon-bar+.icon-bar {
    background-color: snow;
}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
      
      .navbar .container {
          width: 100%;
      } 
}
/** end of nav **/
