.menuBar{
    border-radius: 0px;
    margin-bottom: 0px;	
    border: none;
    position: sticky;
    z-index: 100;
    background-color: lightgray;
}
.menuBar * {
    color: black;
    font-size: 12px;
}

.menuBar .navbar-brand {
    font-size: 20px;
}

#navBar, #collapsibleOptions{	
   // Animation
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}

#collapsibleOptions{
    width: fit-content;
    font-size: medium;
}

#collapsibleButton{
    border-color: black;
    background: none;
    margin-top: 15px;
}

.icon-bar {
    background-color: black;
}

#collapsibleOptions a:hover, 
#collapsibleOptions a:focus{
    background-color: transparent;
}