.panel_padding{
    padding: 10px;
}

.center{
    margin: auto;
}

.color-darkgrey{
    background-color: #CCCCCC;
}

.glyphicon.glyphicon-arrow-up {
    font-size: 20px;
}

.glyphicon.glyphicon-arrow-down {
    font-size: 20px;
}

